a.topic{
    display: inline-block;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    color: #3e7ac2;
    vertical-align: top;
    background: #eef4fa;
    border-radius: 100px;"
}
a.topic:hover{
    color: white;
    text-decoration: none;
    background:dodgerblue;
}
.actions {
    display: flex;
    padding: 10px 20px;
}

.button.is-naked{
    background: 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    height: auto;
}
.actions{
    display: flex;
    padding: 10px 20px;
}
.delete-form{
    margin-left: 20px;
}
.delete-button{
    color: #3097D1;
    text-decoration: none;
}
